#Python Version 3.7

In [2]:
print("Hello, GITAM", "|||", end = " ")
print("hyderabad")

Hello, GITAM ||| hyderabad

In [3]:
print("Hello, GITAM")
print("Hyderabad")

Hello, GITAM
Hyderabad

In [6]:
print("Hello,Gitam")
print("Hyderabad", end="|||")
print("Python Programming")

Hello,Gitam
Hyderabad|||Python Programming

In [7]:
n1=100 # single variable assignment
a=b=c=20 # Multi variable Assignment of the same value
a1,b1,c1= 111,222,333 # Multi variable assignment with different values
print(n1)
print(a,b,c)
print(a1,b1,c1)

100
20 20 20
111 222 333

DATA TYPES:-
- int
- float
- string

In [8]:
a=100;
s1="Python"
s2='p'
f1=10.2
print(type(a),type(s1),type(s2),type(f1))

<class 'int'> <class 'str'> <class 'str'> <class 'float'>

In [9]:
i=100
print(type(i))
s1=str(i) #str() converts the input into string type
print(type(s1))
f1= float(i) #float() converts the input into float type
print(type(f1))

<class 'int'>
<class 'str'>
<class 'float'>

In [10]:
s1="100"
print(type(s1))
a=int(s1)
print(type(a))

<class 'str'>
<class 'int'>

In [11]:
s1="100"
print(type(s1))
a=int(s1)
print(type(a))
f=1.5
b=int(f)
print(type(b))

<class 'str'>
<class 'int'>
<class 'int'>

In [12]:
#A number is given 1234-
#Digit count is given by funtion len
a1=1234
print(len(str(a1)))

4

# Reading a value
- input("Message")--string

In [14]:
s1= input("Enter your name ")
print(s1)
print(type(s1))

Enter your name Jagriti Pathak
Jagriti Pathak
<class 'str'>

In [15]:
# Want a number as input
n1= int(input("Enter a number"))
print(n1,type(n1))

Enter a number4
4 <class 'int'>

In [16]:
n=int(input("Enter a number"))
print(n+10)
print(n-10)
print(n*10)
print(n/10) # returns coefficient in float
print(n%10) # returns remainder in int
print(n//10) # returns coefficient in int
print(n**10) # returns power of a number

Enter a number50
60
40
500
5.0
0
5
97656250000000000

# Precendence of arithmetic operators
- Parenthesis
- Power
- Multiplication
- Addition

Left to Right

In [17]:
x=1+2**3/4+5
print(x)

8.0

In [19]:
x=1+2**3/4*5
print(x)

11.0

# Relational Operators
- ==
- !=
- Greater(>)
- Less than(<)
- Less or equal to(<=)
- Greater than or equal to (>=)

In [20]:
x=10
a1=x>15
print(a1)

False

# Logical Operators
Used to combine more than single condition

- and
- or
- not

In [22]:
i=100
a1=(i>15) and (i<800)
a2=(i>15) and (i>800)
print(a1)
print(a2)

True
False

# Control flow statements

- Conditional statements
- Looping statements

#### if-else statement
**Syntax**
if boolean_condition:
statements
else: 
statements

#### if statement
**Syntax**
if boolean_condition:
statements

In [28]:
#To check given number is even or odd
n = int(input("Enter a number"))
if n%2 == 0:
    print("The number is even")
else:
    print("The number is odd")

Enter a number7
The number is odd

In [30]:
# To check given number  is perfectly multiple of 3 and 5
n=int(input("Enter a number"))
if ((n%3==0) and (n%5==0)):
    print("The number is a multiple of 3 and 5 both")
else:
    print("Not a multiple of 3 and 5")

Enter a number15
The number is a multiple of 3 and 5 both

In [2]:
# Test if the given numbr is positive, negative or zero
n=int(input("Enter a number"))
if n==0:
    print("The number is zero")
elif n>0:
    print("The number is positive")
else:
    print("The number is negative")

Enter a number4
The number is positive